<h1>Edit Student</h1>

<form method="PUT" action="/students/<%= student.id%>">
	<fieldset>
		<label>Student Name</label>
		<input name="name" name="name" value="<%= student.name%>"/>
		<input type="submit" value="Edit">
	</fieldset>
</form