<h1>Edit Student</h1>

<form  action="/students/<%= student.id%>?_method=PUT" method="POST">
	<fieldset>
		<label>Student Name</label>
		<input name="name" name="name" value="<%= student.name%>"/>
		<input type="submit" value="Edit">
	</fieldset>
</form>