<h1>See all the students!</h1>

<!-- each student will be an Obj -->
<% students.forEach(function(student){ %>
	<p>
		<%= student.name %>
		<form action="/students/<%= student.id%>?_method=DELETE" method="POST">
			<input type="sumbit" value="X">
		</form>
	</p>
<% })%>