<h1>Enter new Student</h1>

<form method="POST" action="/students">
	<fieldset>
		<label>Student Name</label>
		<input name="name" name="name" value=""/>
		<input type="submit" value="Add">
	</fieldset>
</form>